{% extends "base.html" %}

{% block content %}

<label>Name:</label>
<input type="text" name="name" required><br><br>

<label>Email:</label>
<input type="email" name="email" required><br><br>

<label>Phone:</label>
<input type="text" name="phone" required><br><br>

<label>Address:</label>
<input type="text" name="address" required><br><br>

<label>Organisation Admin:</label>
<select name="admin" required>
    {% for admin in admins %}
    <option value="{{ admin.id }}">
        {{ admin.user.username }}
    </option>
    {% endfor %}
</select><br><br>

<button type="submit">Create</button>

Back to List
{% endblock %}